使用pyhive操作hive
需要在服务器提前安装：
yum install gcc-c++ cyrus-sasl-devel cyrus-sasl-gssapi cyrus-sasl-plain
pip install sasl pyhive thrift thrift-sasl
安装好以后，需要以服务的方式启动hive
${HIVE_HOME}/bin/hive --service hiveserver2

In [1]:
import pyhive
pyhive.__version__

'0.6.4'

In [3]:
# 建立hive连接
from pyhive import hive
cursor = hive.connect("localhost").cursor()

In [16]:
# 创建外链表
external_sql="""
 create external table if not exists hive_test.students (
    name string, no string, clazz string, gender string, birthday string,
    phone string, loc string, score string )
 row format delimited fields terminated by '\t'
 lines terminated by '\n'
 location '/data/test/students'
"""
cursor.execute(external_sql)

('张祥德', 'RB17101', 'RB171', '男', '1997-02-10', '11122223333', '河南省郑州市1号', '88')
('冯成刚', 'RB17102', 'RB171', '女', '1996-10-01', '18837110115', '河南省洛阳市2号', '86')
('卢伟兴', 'RB17103', 'RB171', '男', '1998-08-02', '19999228822', '河南省开封市3号', '95')
('杨飞龙', 'RB17104', 'RB171', '男', '1996-08-09', '13322554455', '河南省安阳市4号', '91')
('姜松林', 'RB17201', 'RB172', '女', '1997-01-03', '13688552244', '河南省鹤壁市1号', '75')
('高飞', 'RB17202', 'RB172', '男', '1996-08-27', '13522114455', '河南省新乡市2号', '68')
('何桦', 'RB17203', 'RB172', '女', '1997-12-20', '13566998855', '河南省焦作市3号', '84')
('高天阳', 'RB17204', 'RB172', '男', '1999-11-08', '13688446622', '河南省濮阳市4号', '77')
('周存富', 'RB17301', 'RB173', '男', '1996-05-28', '13699552658', '河南省许昌市1号', '93')
('罗鹏', 'RB17302', 'RB173', '男', '1998-03-02', '13365298741', '河南省漯河市2号', '85')
('宋立昌', 'RB17401', 'RB174', '男', '1995-05-28', '13596325874', '河南省南阳市3号', '81')
('杨国胜', 'RB17402', 'RB174', '男', '1996-03-02', '13256987456', '河南省信阳市4号', '91')
('徐子文', 'RB17403', 'RB174', '男', '1998-05-28', '13523654789', '河南省周口市5号', '85')
('马彦', 'RB17404', 'RB174', '女', '1997-03-02', '13526845962', '河南省郑州市6号', '73')
('', None, None, None, None, None, None, None)
('', None, None, None, None, None, None, None)

In [ ]:
# 查询外链表
cursor.execute("select * from hive_test.students")
for row in cursor.fetchall():
    print(row)

In [21]:
# 创建本地表
cursor.execute("create database if not exists hive_test")
cursor.execute("create table if not exists hive_test.students_local like hive_test.students")

In [23]:
# 从外链表中查询10条数据插入本地表
# 注意这个操作会在yarn启动一个MR任务，所以要提前保证yarn正常运行
cursor.execute("insert overwrite table hive_test.students_local select * from hive_test.students limit 10")

In [24]:
# 查询本地表
cursor.execute("select * from hive_test.students_local")
for row in cursor.fetchall():
    print(row)

('罗鹏', 'RB17302', 'RB173', '男', '1998-03-02', '13365298741', '河南省漯河市2号', '85')
('周存富', 'RB17301', 'RB173', '男', '1996-05-28', '13699552658', '河南省许昌市1号', '93')
('高天阳', 'RB17204', 'RB172', '男', '1999-11-08', '13688446622', '河南省濮阳市4号', '77')
('何桦', 'RB17203', 'RB172', '女', '1997-12-20', '13566998855', '河南省焦作市3号', '84')
('高飞', 'RB17202', 'RB172', '男', '1996-08-27', '13522114455', '河南省新乡市2号', '68')
('姜松林', 'RB17201', 'RB172', '女', '1997-01-03', '13688552244', '河南省鹤壁市1号', '75')
('杨飞龙', 'RB17104', 'RB171', '男', '1996-08-09', '13322554455', '河南省安阳市4号', '91')
('卢伟兴', 'RB17103', 'RB171', '男', '1998-08-02', '19999228822', '河南省开封市3号', '95')
('冯成刚', 'RB17102', 'RB171', '女', '1996-10-01', '18837110115', '河南省洛阳市2号', '86')
('张祥德', 'RB17101', 'RB171', '男', '1997-02-10', '11122223333', '河南省郑州市1号', '88')

In [25]:
cursor.close()

In [2]:
from pyhive import hive
cursor = hive.connect("localhost").cursor()
cursor.execute("select * from test")
for row in cursor.fetchall():
    print(row)

('0', '40')
('1', '41')
('2', '42')
('3', '43')
('4', '44')
('5', '45')
('6', '46')
('7', '47')
('8', '48')
('9', '49')
('10', '50')
('11', '51')
('12', '52')
('13', '53')
('14', '54')
('15', '55')
('16', '56')
('17', '57')
('18', '58')
('19', '59')
('0', '40')
('1', '41')
('2', '42')
('3', '43')
('4', '44')
('5', '45')
('6', '46')
('7', '47')
('8', '48')
('9', '49')
('10', '50')
('11', '51')
('12', '52')
('13', '53')
('14', '54')
('15', '55')
('16', '56')
('17', '57')
('18', '58')
('19', '59')
('20', '60')
('21', '61')
('22', '62')
('23', '63')
('24', '64')
('25', '65')
('26', '66')
('27', '67')
('28', '68')
('29', '69')
('50', '20')
('51', '21')
('52', '22')
('53', '23')
('54', '24')
('55', '25')
('56', '26')
('57', '27')
('58', '28')
('59', '29')
('60', '30')
('61', '31')
('62', '32')
('63', '33')
('64', '34')
('65', '35')
('66', '36')
('67', '37')
('68', '38')
('69', '39')
('0', '40')
('1', '41')
('2', '42')
('3', '43')
('4', '44')
('5', '45')
('6', '46')
('7', '47')
('8', '48')
('9', '49')
('10', '50')
('11', '51')
('12', '52')
('13', '53')
('14', '54')
('15', '55')
('16', '56')
('17', '57')
('18', '58')
('19', '59')
('20', '60')
('21', '61')
('22', '62')
('23', '63')
('24', '64')
('25', '65')
('26', '66')
('27', '67')
('28', '68')
('29', '69')
('0', '20')
('1', '21')
('2', '22')
('3', '23')
('4', '24')
('5', '25')
('6', '26')
('7', '27')
('8', '28')
('9', '29')
('10', '30')
('11', '31')
('12', '32')
('13', '33')
('14', '34')
('15', '35')
('16', '36')
('17', '37')
('18', '38')
('19', '39')
('20', '40')
('21', '41')
('22', '42')
('23', '43')
('24', '44')
('25', '45')
('26', '46')
('27', '47')
('28', '48')
('29', '49')